// Specific CSS for your home-page
.container-banner {
  display:flex;
  flex-wrap:wrap;
  flex-direction:column;
  justify-content:center;
}

.container-homepage {
  display:flex;
  justify-content: space-evenly;
}

.card-product {
 margin: 30px 15px 0 15px;
 height: 200px;
}

.card-text {
  text-align:center;
}
