.container-owner {
    background-color: $gray-tab;
    h1 {
      font-family: $p-font;
      font-size: 42px;
      text-align: center;
      padding-bottom: 15px;
      padding-top: 35px;
   }
}

.painting {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 30px;
    box-shadow: 5px 5px 5px lightgrey;
    background-color: white;
    p {
        font-family: $p-font;
        font-size:22px;
        width: 50%;
        padding-right: 15px;
       }
  }
  .painting h2 {
        font-family: $p-font;
        font-weight: bold;
        font-size: 26px;
        width: 30%;
       }

.imgOwner{
  border-radius: 5px;
}