.global_owner_container {
  justify-content: center;
  margin-top: 45px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}


.container_owner_bookings {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
  display: flex;
  margin: auto;
  padding-bottom: 20px;
  margin-bottom: 60px;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 2px lightgray;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container_owner_bookings:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.img_book {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}

.title {
  position: absolute;
  width: 500px;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: white;
  z-index: 1;
  transition: top .5s ease;
  font-family: $p-font;
}

.container_owner_bookings:hover .title {
  top: 90px;
}

.button_owners {
  position: absolute;
  width: 500px;
  left: 20px;
  top: 180px;
  opacity: 0;
  transition: opacity .35s ease;
}

.button_owners a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
   &:hover {
    background-color: #91d18b;
    border:#91d18b;
   }
}

.container_owner_bookings:hover .button_owners {
  opacity: 1;
}
.button_owners_decline {
  position: absolute;
  width: 500px;
  left:280px;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button_owners_decline a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
    &:hover {
  background-color: #d32626;
  border:#d32626;
}
}
.container_owner_bookings:hover .button_owners_decline {
  opacity: 1;
}
.state {
  position: absolute;
  left : 370px;
  padding-top: 0px;
  font-size: 30px;
  font-family: $p-font;
  color: white;
  font-weight: thin;
}

.state_date {
  position: absolute;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;
  font-family: $p-font;
  color: white;
  font-weight: thin;
}
