.container-cards-index {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;

}

.container-button {
  display:flex;
  justify-content: center;
  padding-bottom: 40px;
}
