.container-cards-index {
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;

}

.container-button {
  display:flex;
  justify-content: center;
  padding-bottom: 40px;
}


.search-form-control {
  position: relative;
  width: 100%;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 15px;
}
.search-form-control  .icon {
  position: absolute;
  top: 19px;
  bottom: 8px;
  right: 8px;
}


.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
  font-family: $body-font;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}
