<div style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://source.unsplash.com/mIPNylNW2Ks/1600x1000);">
  <div class="container-new-paintings">
    <h1> Présente nous donc ton oeuvre d'art ! </h1>
    <div class="row" class="new_paintings_box">
      <%= render 'form', painting: @painting %>
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-paint-brush"> By Cooloc</i>
  </div>
</div>


