<div style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://source.unsplash.com/mIPNylNW2Ks/1600x1000);">
  <div class="container-new-paintings">
    <h1> Très bon choix de tableau ! </h1>
    <div class="row" class="new_paintings_box">
      <%= render 'form', booking: @booking %>
    </div>
  </div>
</div>

