<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://source.unsplash.com/syZhH19b1Z8);">
  <div class="container container-banner">
    <h1>CoolArts</h1>
    <p> Soyez cools, louez des tableaux </p>
    <p><%= link_to "Découvrir les tableaux", paintings_path, class:"btn-large btn-flat-white"%></p>
  </div>
</div>

<div class="container container-home">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/VCLNNMRl07k.jpg)">
      <p> <%= "Un mélange artistique, vif, ambitieux et coloré de François PETIT" %> </p>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/rhUU1pemhQ0.jpg)">
       <p> <%= "Quand la nature et les couleurs se rassemblent naturellement, une oeuvre de Michel" %> </p>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/rlbG0p_nQOU.jpg)">
       <p class="card-text"> <%= "Des Formes originales et de la géométrie contemporaine par le célébre Daffy Duck" %> </p>
    </div>
  </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-paint-brush"> By Cooloc</i>
  </div>
</div>
