// // .banner_booking {
// //   background-size: cover;
// //   background-position: center;
// //   padding: 100px 0;
// // }

// // .banner_booking h1 {
// //   margin: 0;
// //   color: white;
// //   text-shadow: 1px 1px 3px rgba(0,0,0,0);
// //   font-weight: bold;
// //   text-align:center;
// //   font-size: 70px;
// //   font-family: 'Pacifico', cursive;
// //   padding-bottom: 10px;
// // }

.title h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  text-decoration: underline;
  font-size: 120px;
}

.reservation {
  margin-top: 100px;
}

.booking h1 {
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

.container_booking {
}



// .cards_photo {
//   display: flex;
//   justify-content: space-between;
//   padding:150px 100px 10px 100px;
//   flex-direction: row;
//   align-items: start;
// }

// .container_booking {
//   display: flex;
//   justify-content: space-around;
// }
