.btn-flat-white {
  color: black;
  background-color: #e0dede;
  padding: 8px 24px 10px 24px;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  transition: background 0.8s ease;
}

.btn-flat-white:hover {
  text-decoration:none;
  background: #ffd571;
  color: black;
  padding: 10px 26px 10px 26px ;
}

.btn-painting-new {
  background-color: #ffd571;
  color:black;
  padding: 8px 24px 10px 24px;
  border-radius: 4px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  transition: background 0.8s ease;
}
.btn-painting-new:hover {
      text-decoration:none;
      background: #ffd571;
      color: #888888;
      padding: 10px 26px 10px 26px ;
    }

