.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}


//.card-product img {
//  height: 100%;
//  width: 120px;
//  object-fit: cover;
//}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-home {
  width: 30%;
  height: 50vh;
  margin:80px 40px 80px 40px;
  box-shadow: 4px 2px 6px #888888;
  border:none;
    img {
  height: 70%;
  width:100%;
    }
}

.card-index {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;

}
.card-description h2 {
  font-size: 34px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
   &:hover {
    opacity:0.1;
   }
}

.card-description_text h2 {
  font-size: 56px;
  text-align: center;
}

.card-show {
  width: 70%;
  height: 90vh;
  margin:80px 40px 80px 40px;
  box-shadow: 10px 5px 10px #888888;
  border:none;
    img {
  height: 100%;
  width:60%;
  text-align: center;
    }
}

.card-text a {
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color:black;
  &:hover {
    color: #888;
  }
}

.card-body {
  display:flex;
  justify-content:justify;
  align-items:center;
}

.card-body p {
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
  color:black;
  &:hover {
    color: #888;
  }
}

