.card-show {
  width: 70%;
  height: 90vh;
  margin:80px 40px 80px 40px;
  box-shadow: 10px 5px 10px #888888;
  border:none;
  text-align: center;
    img {
  height: 100%;
  width:50%;
    }
    p {
      margin:80px 80px 80px 80px;
    }
}
