.card-show {
  width: 70%;
  height: 90vh;
  margin: auto;
  box-shadow: 10px 5px 10px #888888;
  text-align: center;
  background-color: rgba(251, 226, 229, 0.7);
  
  img {
    height: 100%;
    width:50%;
    margin: auto;
  }
}

.cards {
  margin-top:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 350px;
  width:300px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  margin: 30px;
}


.card-category p  {
  padding:150px 10px 0px 10px;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  text-align:center;
  opacity:0;
  
  &:hover {
    opacity:1;
    transition: opacity 0.6s ease;
  }

.card-category-index {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 250px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 5px 5px 5px #888888;
  margin: 30px;
  }



  .card-category-index p {
    padding:150px 10px 100px 100px;
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    text-align:center;
    color:white;
    opacity:0;
      &:hover {
        text-decoration:none;
        text-align:center;
        opacity:1;

      }
    }



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
